# Environment Variables 
.env

# Python
__pycache__/
*.py[cod]
.venv/
build/
dist/

# Local Vector DB (Too big for GitHub)
chroma_db/

# MLflow Logs
mlruns/
mlflow.db

# Streamlit logs & temp files
.streamlit/
*.pdf
.idea/